<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE</title>
    <link rel="stylesheet" href="/week_3/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/week_3/templates/index.html">
            <img src="/week_3/images/logo-small.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/week_3/templates/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="academics.html">Academics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/faculties.html">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/facilities.html">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/innovation.html">Innovations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/collaborations.html">Collaborations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/placements.html">Placements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_3/templates/downloads.html">Downloads</a>
            </li>
            </ul>
        </div>
        </div>
  </nav>

<!-- hero sections -->
<h1 class="Main-heading">Divison Of Computer Science and Engineering</h1>
<section class="academics">
    <img src="../images/fakeCertifications.jpg" alt="" class="academics-image">
    <h2>B.Tech Computer Science and Engineering Programs</h2>
    <p>B.Tech. in Computer Science and Engineering offers students a robust foundation in core computing concepts while also opening doors to explore emerging fields that are shaping the future of technology.</p>
    <p style="opacity: 1; margin-top: 0;font-weight: 600;"><strong>Duration: 4 years</strong></p>
    <br>
    <ul>
        <li>B.Tech. Computer Science and Engineering</li>
        <li>B.Tech. Computer Science and Engineering (Specialization in Artificial Intelligence and Machine Learning)</li>
        <li>B.Tech. Computer Science and Engineering (Specialization in Cyber Security)</li>
        <li>B.Tech. Computer Science and Engineering (Specialization in Blockchain)</li>
        <li>B.Tech. Computer Science and Engineering (Specialization in Internet of Things)</li>
        <li>B.Tech Computer Science and Engineering (Specialization in Virtual and Augmented Reality)</li>
    </ul>
    <div class="aspects">
        <div class="important">
            <h2>Important Courses</h2>
            <div class="lists">
                <ul>
                    <li>Artificial Intelligence and Data Science</li>
                    <li>Artificial Intelligence and Machine Learning</li>
                    <li>Cyber Security</li>
                    <li>Quantum Computing</li>
                    <li>Internet of Things</li>
                </ul>
                <ul style="margin-top: -30px;">
                    <li>Game Development</li>
                    <li>Augmented Reality and Virtual Reality</li>
                    <li>Robotics</li>
                    <li>Cloud Computing</li>
                    <li>Edge Computing</li>
                    
                </ul>
            </div>
        </div>
        <div class="prospects">
            <h2>Career Prospects</h2>
            <ul>
                <li>Computer Programmer</li>
                <li>Computer network architect</li>
                <li>System and Network Administrator</li>
                <li>System Analyst</li>
                <li>Network analyst</li>
                <li>Software Quality Tester</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <h2>M.Tech Computer Science and Engineering Programs</h2>
    <p>This proactively designed advanced level programme, offers in-depth study and analytics of cutting edge technologies and important subjects dealing with latest hardware and software, with due emphasis on laboratory work and research projects required in academia, research and industry realm. The department library is equipped with books on latest research topics to enable students to carry out quality research projects. Students are also given access to various journals, labs, centers, computing facilities for their project works. The students carry out their collaborative research projects with industries such as Cisco Systems and Novell Software Development India.</p>
    <h3 class="imp-courses-pg">Important Courses</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 60%; justify-content: center; margin: auto;">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <strong>Advanced Computing</strong>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
            <li>Grid Computing</li>
            <li>Cloud Computing</li>
            <li>Pervasive Computing</li>
            <li>Evolutionary Computing</li>
            <li>Parallel Computing</li>
            <li>Quantum Computing</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <strong>Cyber Security</strong>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
            <li>Cyber Forensics</li>
            <li>Network Security</li>
            <li>Database Security</li>
            <li>Wireless Security</li>
            <li>Web Security</li>
            <li>Information Security Audit and Assurance</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <strong>Data Analytics</strong>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
            <li>Big Data Analytics</li>
            <li>Advanced Data Mining</li>
            <li>Multimedia Database</li>
            <li>Data Warehouse</li>
            <li>Knowledge Management</li>
            <li>Semantic Web</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        <strong>Image Processing</strong>
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
            <li>Digital Image Processing</li>
            <li>Soft Computing</li>
            <li>Applied Medical Image Processing</li>
            <li>Computer Vision</li>
            <li>Pattern Recognition</li>
            <li>Data Compression Techniques</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>


  <!-- footer -->
  <footer class="footer">
      <div class="social-icons">
      <a href="https://twitter.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
      </a>
      <a href="https://github.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
      </a>
      <a href=""><i class="fab fa-youtube"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
      </div>

      <p>&copy; 2025 Karunya Institute of Technology and Sciences. All Rights Reserved.</p>
  </footer>

</body>
</html>