<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE</title>
    <link rel="stylesheet" href="/week_4/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/week_4/templates/index.html">
            <img src="/week_4/images/logo-small.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/week_4/templates/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./academics.html">Academics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/faculties.html">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/facilities.html">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/innovation.html">Innovations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/collaborations.html">Collaborations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/placements.html">Placements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/week_4/templates/downloads.html">Downloads</a>
            </li>
            </ul>
        </div>
        </div>
  </nav>

<!-- hero sections -->
<h1 class="Main-heading">Divison Of Computer Science and Engineering</h1>

<section class="faculties">
    <h1>Faculties</h1>
    <div class="d-flex flex-wrap gap-3">
        <div class="card" style="width: 18rem;">
            <img src="/week_4/images/faculty1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PROF. Dr. R. ELIJAH BLESSING</h5>
                <p class="card-text">PRO-VICE CHANCELLOR <br> elijahblessing@karunya.edu</p>
                <a href="#" class="btn btn-primary">Profile</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/week_4/images/faculty2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. J. IMMANUEL JOHNRAJA</h5>
                <p class="card-text">PROFESSOR & HOD <br> immanueljohnraja@karunya.edu</p>
                <a href="#" class="btn btn-primary">Profile</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/week_4/images/faculty3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. R. VENKATESAN</h5>
                <p class="card-text">ASSOCIATE PROFESSOR <br> rlvenkei_2000@karunya.edu</p>
                <a href="#" class="btn btn-primary">Profile</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/week_4/images/faculty4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. E. BIJOLIN EDWIN</h5>
                <p class="card-text">ASSOCIATE PROFESSOR<br> bijolin@karunya.edu</p>
                <a href="#" class="btn btn-primary">Profile</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/week_4/images/faculty5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. J. ANITHA</h5>
                <p class="card-text">ASSOCIATE PROFESSOR<br> anitha_j@karunya.edu</p>
                <a href="#" class="btn btn-primary">Profile</a>
            </div>
        </div>

    </div>
</section>

<!-- footer -->
  <footer class="footer">
      <div class="social-icons">
      <a href="https://twitter.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
      </a>
      <a href="https://github.com/yourusername" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
      </a>
      <a href=""><i class="fab fa-youtube"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
      </div>

      <p>&copy; 2025 Karunya Institute of Technology and Sciences. All Rights Reserved.</p>
  </footer>


</body>
</html>